*.png
*.pyc
__pycache__/
core/__pycache__/__init__.cpython-312.pyc
game/__pycache__/__init__.cpython-312.pyc
imaging/__pycache__/camera.cpython-312.pyc
imaging/__pycache__/frames.cpython-312.pyc
game/__pycache__/career_mode.cpython-312.pyc
imaging/__pycache__/__init__.cpython-312.pyc
imaging/__pycache__/stacking.cpython-312.pyc
catalogs/__pycache__/__init__.cpython-312.pyc
catalogs/__pycache__/ngc_data.cpython-312.pyc
imaging/__pycache__/equipment.cpython-312.pyc
universe/__pycache__/__init__.cpython-312.pyc
universe/__pycache__/universe.cpython-312.pyc
game/__pycache__/state_manager.cpython-312.pyc
imaging/__pycache__/processing.cpython-312.pyc
atmosphere/__pycache__/__init__.cpython-312.pyc
core/__pycache__/celestial_math.cpython-312.pyc
core/__pycache__/earth_renderer.cpython-312.pyc
imaging/__pycache__/calibration.cpython-312.pyc
imaging/__pycache__/noise_model.cpython-312.pyc
universe/__pycache__/npz_loader.cpython-312.pyc
atmosphere/__pycache__/day_phase.cpython-312.pyc
core/__pycache__/time_controller.cpython-312.pyc
imaging/__pycache__/sky_renderer.cpython-312.pyc
catalogs/__pycache__/messier_data.cpython-312.pyc
catalogs/__pycache__/star_catalog.cpython-312.pyc
universe/__pycache__/minor_bodies.cpython-312.pyc
universe/__pycache__/orbital_body.cpython-312.pyc
universe/__pycache__/space_object.cpython-312.pyc
catalogs/__pycache__/hipparcos_data.cpython-312.pyc
core/__pycache__/constellation_data.cpython-312.pyc
imaging/__pycache__/allsky_renderer.cpython-312.pyc
universe/__pycache__/planet_physics.cpython-312.pyc
imaging/__pycache__/celestial_bodies.cpython-312.pyc
imaging/__pycache__/display_pipeline.cpython-312.pyc
universe/__pycache__/catalogue_loader.cpython-312.pyc
atmosphere/__pycache__/atmospheric_model.cpython-312.pyc
imaging/__pycache__/solar_bodies_renderer.cpython-312.pyc
